[submodule "ft_transendence/back"]
	path = ft_transendence/back
	url = https://github.com/42-TRANSENDENCE/backend.git
	branch = develop
[submodule "ft_transendence/front"]
	path = ft_transendence/front
	url = https://github.com/42-TRANSENDENCE/frontend.git
	branch = develop
