[submodule "ft_transcendence/back"]
	path = ft_transcendence/back
	url = https://github.com/42-TRANSENDENCE/backend.git
	branch = develop
[submodule "ft_transcendence/front"]
	path = ft_transcendence/front
	url = https://github.com/42-TRANSENDENCE/frontend.git
	branch = develop
[submodule "backend"]
	path = backend
	url = https://github.com/42-TRANSENDENCE/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/42-TRANSENDENCE/frontend.git
